.download-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-bottom: 5px;
}

.section-button {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.section-button:hover {
  background-color: #add8e6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

/* Add styles for the tab buttons */
.tab-button {
  padding: 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  float: left;
  width: 20%;
  /* five tabs, so each is 20% width */
}

/* Style for the active tab button */
.tab-button.active {
  background-color: #ccc;
}

/* Style for tab content */
.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  /* remove the border on the top to merge with the tab buttons */
  clear: both;
}

/* Style for bot response */
.response-content {
  max-height: 1000px;
  /* Or whatever height you want */
  min-height: 400px;
  /* Or whatever height you want */
  padding: 5px;
  border: none;
  /* No border for the inner content */
}

#responseTextarea {
  width: 100%;
  /* Ensures textarea takes the full width of its parent */
  height: 400px;
  /* Adjust this value as needed */
  border: 1px solid #e0e0e0;
  /* A light border for the textarea */
  background-color: #e6f7ff;
}

#myChart {
  height: 600px;
  /* Adjust this value as needed */
  width: 100%;
  /* This ensures that the chart takes up the full width of its container */
}